.homepage{
    width: 250px;
    height: 50px;
   
    text-align: center;
    background-color: #EAD7BB;
    border: 1px solid  #BCA37F;
    border-radius: 5px;
    
    font-size: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    position: fixed;
    
}

a{
    text-decoration: none;
    color: #113946;
}

p{
    font-size: 20px;
}

body{
    background-color: #FFF2D8;
}
.content{
    margin-left: 20px;
    margin-top: 3%;
    background-color: #BCA37F;
    width: 50%;
    height: 100%;
    border-radius: 5px;
    padding: 10px;

    

}
.main{
    margin-left: 30%;
    
}

@media only screen and (max-width: 600px)
{
.content{

    width:80%;
    padding: 5%;
}

.main{

    margin-left: 0%;
}
.homepage{
    margin-left: 13%;
    font-size: 24px;


}


}
    
