h1 {
    text-align: center;
    color: #113946;
    font-size: 40px;
    animation: h1 2s infinite alternate; 
  
    font-family: "Arial";
}

 
.box{
    display: flex;
    justify-content: center;
    
    
    

}


a{
    text-decoration: none;
    color: #113946;
    font-size: 20px;
}

.specific{
    background-color: #EAD7BB;
    border: 1px solid #BCA37F;
    height: 20%;
    width: 20%;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;

}

body{
    background-color:#FFF2D8;
}

@keyframes h1 {
    from {color: #5D12D2;}
    to {color: #FF6AC2;}
  }

  @media only screen and (max-width: 600px)
   {

    .box{
        flex-direction: column;
        align-items: center;
    }

    .specific{

        height: 20%;
        width: 70%;
       
    }

    h1{
        font-size: 26px;
        text-decoration: underline;
    }
}